@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* Mise en place  */
html {
    scroll-behavior: smooth;
}

html, body, #root{
  min-height: 100%;
}

* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
  text-decoration: none;
}
li {
  list-style-type: none;
}